body {
  background: black;
}
p {
  color: sandybrown;
}
h2 {
  font-weight: bold;
  color:saddlebrown;
}

.homelink {
  color:saddlebrown;
  text-decoration: none
}

.dungeon {
  color:black;
}

Good job. You found it. The first part of the password is 920. Now for the hint. I will place the hint for the password site in the next page. The answer of this riddle will take you to the page. The first letter of the answer is the link. Only one color, but not one size. Stuck at the bottom, yet I easily fly. Present in sun, but not in rain. Doing no harm, and feeling no pain. What Am I? By now you're probably wondering where the next part of the password is. Well, let's just say, follow my directions first and you'll find it.
