body {
  background: black;
}
p {
  color: sandybrown;
}
h2 {
  font-weight: bold;
  color:saddlebrown;
}

.homelink {
  color:saddlebrown;
  text-decoration: none
}

.dungeon {
  color:black;
}

Good job. You found it. The password is 920463. Now for the hint. What should I ask you to stump you? Oh, yes. A riddle, of course. Well, here we go. UNFINISHED THIS IS NOT THE RIDDLE PLEASE WAIT THIS WILL BE UPDATED SOON THANKS FOR COMING 
