body {
  background: black;
}
p {
  color: sandybrown;
}
h2 {
  font-weight: bold;
  color:saddlebrown;
}

.homelink {
  color:saddlebrown;
  text-decoration: none
}

Good job. You found it. The password is 920463.
