body {
  background: black;
}
p {
  color: gray;
}
h2 {
  color:grey;
}

.secret {
  color:black;
  text-decoration:none;
}

.secret_link {
  color:gray;
  text-decoration: none;
}

.ultimate {
  color:black;
}

.CC0 {
  color:black;
  font-weight:1000;
}

.password {
  color:black;
}
